<!DOCTYPE html>
<html>
<head>
  <title><%= "Ruby Gardens :: #{ content_for(:title) }" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<il><%= link_to 'Home', home_path %></il>
		<il><%= link_to 'About', about_path %></il>
		<il><%= link_to 'Who We Are', who_we_are_path %></il>
	</ul>
<%= yield %>

</body>
</html>
